apiVersion: v1
kind: ServiceAccount
metadata:
  name: prefri
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: prefri
rules:
- apiGroups: [""]
  resources:
  - namespaces
  verbs:
  - get
  - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: prefri
subjects:
- kind: ServiceAccount
  name: prefri
  namespace: default
roleRef:
  kind: ClusterRole
  name: prefri
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: v1
kind: Secret
metadata:
  name: prefri-certs
  namespace: default
type: Opaque
data:
  ca.pem: __CA__
  webhook.pem: __TLS_CERT__
  webhook-key.pem: __TLS_KEY__
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: prefri
  name: prefri
  namespace: default
spec:
  selector:
    matchLabels:
      app: prefri
  strategy:
    rollingUpdate:
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: prefri
      name: prefri
    spec:
      containers:
      - image: okepy/prefri:v0.1.2
        name: prefri
        imagePullPolicy: Always
        command: ["/webhook"]
        ports:
          - containerPort: 443
        args:
        # - --tls-ca-file=/etc/certs/ca.pem
         - --tls-cert-file=/etc/certs/webhook.pem
         - --tls-key-file=/etc/certs/webhook-key.pem
        volumeMounts:
        - name: certs
          mountPath: /etc/certs
          readOnly: true
      serviceAccount: prefri
      volumes:
        - name: certs
          secret:
            secretName: prefri-certs
---
kind: Service
apiVersion: v1
metadata:
  name: prefri
  namespace: default
spec:
  selector:
    app: prefri
  ports:
    - protocol: TCP
      port: 443
      targetPort: 443